<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="table">

<!-- 테이블 작성 -->
<update id="createBoardTable" parameterType="map">
	CREATE TABLE ${tableName} (
		num NUMBER NOT NULL
		,name VARCHAR2(30) NOT NULL
		,subject VARCHAR2(250) NOT NULL
		,content VARCHAR2(4000) NOT NULL
		,hitCount NUMBER DEFAULT 0
		,created DATE DEFAULT SYSDATE
		,PRIMARY KEY(num) 
	)
</update>

<!-- 테이블 제거 -->
<update id="dropBoardTable" parameterType="map">
	DROP TABLE ${tableName} PURGE
</update>



</mapper>